:root {
  /* width/height per block of tic-tac-toc */
  --baselineSize: 50px;
  --chessBoardSize: 3;
  /* record the current player's icon to display */
  --curPlayer: "O";
}

/* general setting */
body {
  margin-left: 25px;
}

input, span, #chessboard {
  position: relative;
  margin: 20px 0px;
}

/* restart and start button style setting */
input {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 3px 5px;
  cursor: pointer;
}

input + input {
  margin-left: 25px;
}

input:disabled {
  border: 1px solid #aaa;
  cursor: default;
}

/* tic-tac-toc chessboard setting */
#chessboard {
  display: flex;  
  flex-wrap: wrap;

  height: calc(var(--chessBoardSize) * var(--baselineSize));
  width: calc(var(--chessBoardSize) * var(--baselineSize));

  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

/* cell of the chessboard setting */
.blocks {
  display: block;

  height: var(--baselineSize);
  width: var(--baselineSize);

  background-color: transparent;
  /* border */
  border: 0px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  /* text and align center */
  text-align: center;
  line-height: var(--baselineSize);
  font-size: large;
}
/* during GAME PLAYING */
:root[data-state = "0"] .blocks {
  pointer-events: auto;
}

:root[data-state = "0"] .blocks:empty:hover {
  cursor: pointer;
}

:root[data-state = "0"] .blocks:empty:hover::after {
  content: var(--curPlayer);
}
/* before GAME START or GAME END */
:root[data-state = "1"] .blocks {
  pointer-events: none;
}

/* text area setting */
span {
  display: block;
}

span > p {
  display: inline;
}

#whoTurns::after {
  content: var(--curPlayer);
}